<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A0C3DE61D949354000AA196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A2ECEAC1D89C41F00267325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A48B1E21D7B6785006BD0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
